# Python venv
.venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log
yarn-error.log

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
*.backup
*.tfplan

# Docker
*.pid
*.sock

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.log

# Secrets
*.env
*.key
*.crt
*.pem
secrets.json

# Security/scan outputs
pipelines/security-reports/
